.container {
  background-color: #eadaff;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  width: fit-content;
}
.container img {
  margin-right: 5px !important;
}
